[package]
name = "sockets"
version = "0.1.0"
edition = "2024"

[dependencies]
anyhow = "1.0.100"
libc = "0.2.177"

[[bin]]
name = "server"
path = "src/bin/server.rs"

[[bin]]
name = "client" 
path = "src/bin/client.rs"

